---

- name: Get PaperMC build info
  uri:
    url: "https://api.papermc.io/v2/projects/paper/versions/{{ minecraft_version }}/builds"
    method: GET
  register: minecraft_paper_build_info

- name: Set latest paper build and checksum
  set_fact:
    minecraft_paper_latest_build: "{{ minecraft_paper_build_info.json.builds[-1].build }}"
    minecraft_paper_checksum: "{{ minecraft_paper_build_info.json.builds[-1].downloads.application.sha256 }}"
  when: minecraft_paper_build is not defined or minecraft_paper_build|string|length==0

- name: Build download URI
  set_fact:
    minecraft_paper_url: "https://api.papermc.io/v2/projects/paper/versions/{{ minecraft_version }}/builds/{{ minecraft_paper_build | default(minecraft_paper_latest_build) }}/downloads/paper-{{ minecraft_version }}-{{ minecraft_paper_build | default(minecraft_paper_latest_build) }}.jar"
  when: minecraft_paper_url is not defined or minecraft_paper_url|length==0

# - name: Get checksum of custom build
#   set_fact:
#     minecraft_paper_checksum: "{{ item.downloads.application.sha256 }}"
#   loop: "{{ minecraft_paper_build_info.json.builds }}"
#   loop_control:
#     label: false
#   when: minecraft_paper_build is defined and item.build == minecraft_paper_build | int

- name: Download PaperMC server
  get_url:
    url: "{{ minecraft_paper_url }}"
    dest: "{{ deploy_helper.new_release_path }}/paper-{{ minecraft_version }}.jar"
    owner: "{{ minecraft_user }}"
    group: "{{ minecraft_group }}"
    checksum: "sha256:{{ minecraft_paper_checksum }}"
    mode: '0755'
